h1 {
    text-align: center;
    color: blue;
    font-family: courier;
    font-size: 300%;
}

h3 {
    text-align: center;
    color: blue;
    font-family: courier;
    font-size: 200%;
}

p {
  color: black;
  font-family: courier;
  font-size: 160%;
}

body {
  background-color: powderblue;
}

p {
    width: 800px;
    margin: 0 auto;
    border: 2px solid blue;
}

ol {
    width: 800px;
    margin: 0 auto;
    border: 2px solid blue;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
