h1 {
    text-align: center;
    color: blue;
    font-family: courier;
    font-size: 300%;
}

h3 {
    text-align: center;
    color: blue;
    font-family: courier;
    font-size: 200%;
}

p {
    color: black;
    font-family: courier;
    font-size: 160%;
    width: 800px;
    margin: 100px;
    border: 2px solid blue;
}

body {
  background-color: powderblue;
}

ol {
    font-family: courier;
    font-size: 160%;
    width: 800px;
    margin: 100px;
    border: 2px solid blue;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.button {
  background-color: blue;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}
